trunk/InputArea.WinFormGUI/Service References/KanjiServiceReference/kanji.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://www.japanese-coach.com" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="http://www.japanese-coach.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.japanese-coach.com/Imports">
      <xsd:import schemaLocation="http://localhost:8000/kanji?xsd=xsd0" namespace="http://www.japanese-coach.com" />
      <xsd:import schemaLocation="http://localhost:8000/kanji?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8000/kanji?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IKanjiService_ReceivePoints_InputMessage">
    <wsdl:part name="parameters" element="tns:ReceivePoints" />
  </wsdl:message>
  <wsdl:message name="IKanjiService_ReceivePoints_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReceivePointsResponse" />
  </wsdl:message>
  <wsdl:message name="IKanjiService_GetPointsX_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPointsX" />
  </wsdl:message>
  <wsdl:message name="IKanjiService_GetPointsX_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPointsXResponse" />
  </wsdl:message>
  <wsdl:message name="IKanjiService_GetPointsY_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPointsY" />
  </wsdl:message>
  <wsdl:message name="IKanjiService_GetPointsY_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPointsYResponse" />
  </wsdl:message>
  <wsdl:message name="IKanjiService_GetPointsTime_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPointsTime" />
  </wsdl:message>
  <wsdl:message name="IKanjiService_GetPointsTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPointsTimeResponse" />
  </wsdl:message>
  <wsdl:message name="IKanjiService_MessageForDesktop_InputMessage">
    <wsdl:part name="parameters" element="tns:MessageForDesktop" />
  </wsdl:message>
  <wsdl:message name="IKanjiService_MessageForDesktop_OutputMessage">
    <wsdl:part name="parameters" element="tns:MessageForDesktopResponse" />
  </wsdl:message>
  <wsdl:message name="IKanjiService_MessageForInputArea_InputMessage">
    <wsdl:part name="parameters" element="tns:MessageForInputArea" />
  </wsdl:message>
  <wsdl:message name="IKanjiService_MessageForInputArea_OutputMessage">
    <wsdl:part name="parameters" element="tns:MessageForInputAreaResponse" />
  </wsdl:message>
  <wsdl:message name="IKanjiService_GetNewMessagesForMobile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewMessagesForMobile" />
  </wsdl:message>
  <wsdl:message name="IKanjiService_GetNewMessagesForMobile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewMessagesForMobileResponse" />
  </wsdl:message>
  <wsdl:message name="IKanjiService_GetNewMessagesForDesktop_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewMessagesForDesktop" />
  </wsdl:message>
  <wsdl:message name="IKanjiService_GetNewMessagesForDesktop_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewMessagesForDesktopResponse" />
  </wsdl:message>
  <wsdl:portType name="IKanjiService">
    <wsdl:operation name="ReceivePoints">
      <wsdl:input wsaw:Action="http://www.japanese-coach.com/IKanjiService/ReceivePoints" message="tns:IKanjiService_ReceivePoints_InputMessage" />
      <wsdl:output wsaw:Action="http://www.japanese-coach.com/IKanjiService/ReceivePointsResponse" message="tns:IKanjiService_ReceivePoints_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPointsX">
      <wsdl:input wsaw:Action="http://www.japanese-coach.com/IKanjiService/GetPointsX" message="tns:IKanjiService_GetPointsX_InputMessage" />
      <wsdl:output wsaw:Action="http://www.japanese-coach.com/IKanjiService/GetPointsXResponse" message="tns:IKanjiService_GetPointsX_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPointsY">
      <wsdl:input wsaw:Action="http://www.japanese-coach.com/IKanjiService/GetPointsY" message="tns:IKanjiService_GetPointsY_InputMessage" />
      <wsdl:output wsaw:Action="http://www.japanese-coach.com/IKanjiService/GetPointsYResponse" message="tns:IKanjiService_GetPointsY_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPointsTime">
      <wsdl:input wsaw:Action="http://www.japanese-coach.com/IKanjiService/GetPointsTime" message="tns:IKanjiService_GetPointsTime_InputMessage" />
      <wsdl:output wsaw:Action="http://www.japanese-coach.com/IKanjiService/GetPointsTimeResponse" message="tns:IKanjiService_GetPointsTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MessageForDesktop">
      <wsdl:input wsaw:Action="http://www.japanese-coach.com/IKanjiService/MessageForDesktop" message="tns:IKanjiService_MessageForDesktop_InputMessage" />
      <wsdl:output wsaw:Action="http://www.japanese-coach.com/IKanjiService/MessageForDesktopResponse" message="tns:IKanjiService_MessageForDesktop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MessageForInputArea">
      <wsdl:input wsaw:Action="http://www.japanese-coach.com/IKanjiService/MessageForInputArea" message="tns:IKanjiService_MessageForInputArea_InputMessage" />
      <wsdl:output wsaw:Action="http://www.japanese-coach.com/IKanjiService/MessageForInputAreaResponse" message="tns:IKanjiService_MessageForInputArea_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewMessagesForMobile">
      <wsdl:input wsaw:Action="http://www.japanese-coach.com/IKanjiService/GetNewMessagesForMobile" message="tns:IKanjiService_GetNewMessagesForMobile_InputMessage" />
      <wsdl:output wsaw:Action="http://www.japanese-coach.com/IKanjiService/GetNewMessagesForMobileResponse" message="tns:IKanjiService_GetNewMessagesForMobile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewMessagesForDesktop">
      <wsdl:input wsaw:Action="http://www.japanese-coach.com/IKanjiService/GetNewMessagesForDesktop" message="tns:IKanjiService_GetNewMessagesForDesktop_InputMessage" />
      <wsdl:output wsaw:Action="http://www.japanese-coach.com/IKanjiService/GetNewMessagesForDesktopResponse" message="tns:IKanjiService_GetNewMessagesForDesktop_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>